$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...

.container {
		display: flex;
		flex: 1;
		flex-direction: column;
		overflow-y: scroll;
}

.storyItem {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// align-items: center;
		// margin-bottom: 5px;
}

.link {
		background-color: 'red';
		flex: 7;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
}

.score {
		flex: 1;
		padding-left: 5px;
		padding-right: 5px;
}

.title {
		flex: 7;
}

.commentSpacer {
		margin-left: 10px;
		margin-right: 10px;
}

.storyItem a {
		// padding-left: 10px;
		// background-color: yellow;
}

.author {
		flex: 1;
		text-align: right;
}

#refreshBtn {
		margin-bottom: 20px;
}
